 <div class="control-group">
    <%= f.label :asset,"Choose the Picture", :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :asset %>

    </div>
  </div>

 <div class="control-group">
    <div class="controls">
      <%= f.link_to_remove "remove" %>

    </div>
  </div>
 </div>

