

<% Grid.order("name").all.collect do |g| %>

    <a class="carousel-control left" href="#<%='myCarousel'+ g.name.downcase %>" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#<%='myCarousel'+ g.name.downcase%>" data-slide="next">&rsaquo;</a>


<% end %>