<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @width.name %>
</p>


<% content_for :contextual_menu do %>
	<li><%= link_to 'Back', widths_path %></li>
	<li><%= link_to 'Edit', edit_width_path(@width) %></li>
<% end %>
