Naoufal: This page can be destroyed.

<div class="span8"><h1>Magazines</h1></div>

<table class="table span9">
 <!-- <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->

  <% unless @magazines.blank? %>
      <% @magazines.each do |magazine| %>
          <tr>
            <td><%=link_to magazine.name, magazine_path(magazine) %></td>
            <!-- <td><%#= link_to 'Show', magazine_path(magazine)
             %></td> -->
          </tr>
      <% end %>
  <% end %>
</table>

<br />