<h1>Editing magazine</h1>

<%= render 'form' %>

<% content_for :contextual_menu do %>
	<li><%= link_to 'Back', :back,  class: 'context-menue' %></li>
	<li><%= link_to 'Show', @magazine, class: 'context-menue' %></li>
	<li><%= link_to 'Magazines', magazines_path, class: 'context-menue' %></li>
<% end %>

