<h1>Magazines</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @magazines.each do |magazine| %>
  <tr>
    <td><%= link_to magazine.name, magazine %></td>
    <td><%= link_to 'Edit', edit_magazine_path(magazine) %></td>
    <td><%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% content_for :local_menu do %>
	<li><%= link_to 'New Magazine', new_magazine_path, class: 'context-menue' %></li>
<% end %>

