<h1>Admin Entrance</h1>
<div class="btn-group btn-group-vertical"> 
 <!-- <a href="/magissues/" class="btn btn-large" id="adminbtn">Admin</a> -->
 <%= link_to "Admin", magissues_path, :class => "btn btn-large", :id => "adminbtn" %>
</div>
