<div class="span8"><h1>Magazines to read</h1></div>

<table class="table span9">

  <% unless @magazines.blank? %>
      <% @magazines.each do |magazine| %>
          <tr>
            <td><%=link_to magazine.name, welcome_path(magazine) %></td>

          </tr>
      <% end %>
  <% end %>
</table>
