
<p id="notice"><%= notice %></p>

<h3><%= @magazine.name %></h3>
<!-- </p> -->

<% if (pub_issues = @magazine.published_issues).blank? %>
    <h4>No published issues.</h4>

<% else %>
    <h4>Issues</h4>
    <ol>
      <% pub_issues.each do |issue| %>
          <li>
            <%= link_to issue.date, cover_magissue_path(issue) %>
          </li>
      <% end %>
    </ol>
<% end %>

<%= link_to 'Back', "/" %>