<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p><strong>Not implemented.</strong></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
