<p id="notice"><%= notice %></p>

<p><strong>Not yet implemented.</strong></p>

<% content_for :contextual_menu do %>
	<li><%= link_to 'Back', assets_path %></li>
	<li><%= link_to 'Edit', edit_asset_path(@asset) %></li>

<% end %>
