<ul class="nav nav-list admin-sidenav affix">
	
	<li class="nav-header">Magazine issues</li>
    <li><%= link_to '<i class="icon-chevron-right"></i>'.html_safe + ' New Issue', new_magissue_path %></li>
    <li><%= link_to '<i class="icon-chevron-right"></i>'.html_safe + ' Issues', magissues_path %></li>
	<li class="nav-header">Articles</li>
    <li><%= link_to '<i class="icon-chevron-right"></i>'.html_safe + ' New Article', new_article_path %></li>
    <li><%= link_to '<i class="icon-chevron-right"></i>'.html_safe + ' Articles', articles_path %></li>
    
</ul>