<div class="btn-group">
  <button class="btn btn-medium dropdown-toggle" data-toggle="dropdown">Magazines<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li> <a href="/magazines/new" class="btn btn-small">New Magazine</a></li>
    <li><a href="/magazines/" class="btn btn-small">Show Magazines</a></li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#">Advanced Magazine options</a>
      <ul class="dropdown-menu">
        <li> <a href="/grids/" class="btn btn-small">Edit Magazine Grids</a></li>
        <li> <a href="/magtemplates/" class="btn btn-small">Edit Magazine Templates</a></li>
        <li> <a href="/widths/" class="btn btn-small">Edit Magazine Widths</a></li>
        <li> <a href="/sizes/" class="btn btn-small">Edit Magazine Sizes</a></li>
        <li> <a href="/containers/" class="btn btn-small">Edit Magazine Containers</a></li>

      </ul>
    </li>
  </ul>
</div>
<br>
<div class="btn-group">
  <button class="btn btn-medium dropdown-toggle" data-toggle="dropdown">Articles<span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li> <a href="/articles/new" class="btn btn-small">New Article</a></li>
    <li><a href="/articles/" class="btn btn-small">Show Articles</a></li>
  </ul>
</div>





<!---div class="btn-toolbar">
<div class="btn-group btn-group-vertical">
 <label><em>Manage Magazines:</em></label>
 <a href="/magazines/new" class="btn btn-small btn-primary">New Magazine</a>

 <a href="/magazines/" class="btn btn-small btn">Show Magazines</a>
 
</div>
<br></br>
<div class="btn-group btn-group-vertical">
<label><em>Manage Articles:</em></label>
  <a href="/articles/new" class="btn btn-small btn-primary">New Article</a>
 
 <a href="/articles/" class="btn btn-small btn">Show Articles</a>
</div>
<br></br>
<div class="btn-group btn-group-vertical">
<label><em>Manage Templates:</em></label>
  <a href="/magtemplates/new" class="btn btn-small btn-primary">New Template</a>
  <a href="/magtemplates/" class="btn btn-small btn">Show Templates</a>
</div>
<br></br>
<div class="btn-group btn-group-vertical">
 <label><em>Manage Grids:</em></label>
 <a href="/grids/new" class="btn btn-small btn-primary">New Grid</a>
  <a href="/grids/" class="btn btn-small btn">Show Grids</a>

</div>
<!-- Naoufal:-------------------------------------------->
  <!---br/>
  <div class="btn-group btn-group-vertical">
    <label><em>Manage Widths:</em></label>
    <a href="/widths/new" class="btn btn-small btn-primary">New Width</a>
    <a href="/widths/" class="btn btn-small btn">Show Widths</a>

  </div>

  <br/>
  <div class="btn-group btn-group-vertical">
    <label><em>Manage Sizes:</em></label>
    <a href="/sizes/new" class="btn btn-small btn-primary">New Size</a>
    <a href="/sizes/" class="btn btn-small btn">Show Sizes</a>

  </div>

  <br/>
  <div class="btn-group btn-group-vertical">
    <label><em>Manage Containers:</em></label>
    <a href="/containers/new" class="btn btn-small btn-primary">New Container</a>
    <a href="/containers/" class="btn btn-small btn">Show Containers</a>

  </div>
</div--->

 
  
			

