<div class="btn-toolbar">
<div class="btn-group btn-group-vertical">
 <label>Manage Magazines:</label>
 <a href="/magazines/new" class="btn btn-small">New Magazine</a>
 
 <a href="/magazines/" class="btn btn-small">Show Magazines</a>
 
</div>
<br></br>
<div class="btn-group btn-group-vertical">
<label>Manage Articles:</label>
  <a href="/articles/new" class="btn btn-small">New Article</a>
 
 <a href="/articles/" class="btn btn-small">Show Articles</a>
</div>
<br></br>
<div class="btn-group btn-group-vertical">
<label>Manage Templates:</label>
  <a href="#" class="btn btn-small">New Template</a>
  <a href="#" class="btn btn-small">Show Templates</a>
</div>
<br></br>
<div class="btn-group btn-group-vertical">
 <label>Manage Grids:</label>
 <a href="#" class="btn btn-small">New Grid</a>
  <a href="#" class="btn btn-small">Show Grids</a>

</div>

</div>

 
  
			

