<div class="btn-toolbar">
<div class="btn-group btn-group-vertical">
 <label><em>Manage Magazines:</em></label>
 <a href="/magazines/new" class="btn btn-small btn-primary">New Magazine</a>

 <a href="/magazines/" class="btn btn-small btn">Show Magazines</a>
 
</div>
<br></br>
<div class="btn-group btn-group-vertical">
<label><em>Manage Articles:</em></label>
  <a href="/articles/new" class="btn btn-small btn-primary">New Article</a>
 
 <a href="/articles/" class="btn btn-small btn">Show Articles</a>
</div>
<br></br>
<div class="btn-group btn-group-vertical">
<label><em>Manage Templates:</em></label>
  <a href="/magtemplates/new" class="btn btn-small btn-primary">New Template</a>
  <a href="/magtemplates/" class="btn btn-small btn">Show Templates</a>
</div>
<br></br>
<div class="btn-group btn-group-vertical">
 <label><em>Manage Grids:</em></label>
 <a href="/grids/new" class="btn btn-small btn-primary">New Grid</a>
  <a href="/grids/" class="btn btn-small btn">Show Grids</a>

</div>
<!-- Naoufal:------------------------------------- -->
  <br/>
  <div class="btn-group btn-group-vertical">
    <label><em>Manage Widths:</em></label>
    <a href="/widths/new" class="btn btn-small btn-primary">New Width</a>
    <a href="/widths/" class="btn btn-small btn">Show Widths</a>

  </div>

  <br/>
  <div class="btn-group btn-group-vertical">
    <label><em>Manage Sizes:</em></label>
    <a href="/sizes/new" class="btn btn-small btn-primary">New Size</a>
    <a href="/sizes/" class="btn btn-small btn">Show Sizes</a>

  </div>

  <br/>
  <div class="btn-group btn-group-vertical">
    <label><em>Manage Containers:</em></label>
    <a href="/containers/new" class="btn btn-small btn-primary">New Container</a>
    <a href="/containers/" class="btn btn-small btn">Show Containers</a>

  </div>
</div>

 
  
			

