<!DOCTYPE html>
<html class="no-js no-treesaver">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />

  <!--title>Jaywebmag</title-->
  <!--%= stylesheet_link_tag    "ts_test", :media => "all" % -->
  <!--%= stylesheet_link_tag("ts_test") %>
  <!--link rel="resources" href="/resources.html.erb"/-->
  <!--%= javascript_include_tag("treesaver.js") %-->

  <!-- script src="javascripts/treesaver.js"></script-->
  <!--%= javascript_include_tag "application" % -->
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>